$primary_color: #4b7399

body
  background-color: $primary_color
  font:
    family: Verdana, Helvetica, Arial
    size: 14px

a
  color: blue
  img
    border: none

.clear
  clear: both
  height: 0
  overflow: hidden

#container
  width: 75%
  margin: 0 auto
  background: white
  padding: 20px 40px
  border: solid 1px black
  margin-top: 20px

#flash_notice,
#flash_error,
#flash_alert
  padding: 5px 8px
  margin: 10px 0
.flash
  float: left
  position: absolute
  top: 150px
  left: 500px


#flash_notice
  padding: 15px 15px 15px 30px
  background-color: #ccffcc
  border: solid 1px #66cc66
  background-image: url('/images/check.png')
  background-position: 10px
  background-repeat: no-repeat

#flash_error
  padding: 5px 5px 5px 30px
  background-image: url('/images/error.png')
  background-position: 10px
  background-repeat: no-repeat
  background-color: #ffcccc
  border: solid 1px #cc6666

#flash_alert
  padding: 5px 5px 5px 30px
  background-image: url('/images/error.png')
  background-position: 10px
  background-repeat: no-repeat
  background-color: #E8F27C
  border: solid 1px #DAE83F

.field_with_errors
  display: inline
  color: red
  input[type=text]
    border: solid 2px red
.error_messages
  width: 400px
  border: 2px solid #cf0000
  padding: 0
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  font:
    size: 12px
  h2
    text-align: left
    padding: 5px 5px 5px 15px
    margin: 0
    font:
      weight: bold
      size: 12px
    background-color: #cc0000
    color: white
  p
    margin: 8px 10px
  ul
    margin: 0
.clearfix
  clear: both
.left
  float: left
.right
  float: right
#form
  input
    padding: 5px
#player
  border: solid 3px #cecece
  border-radius: 8px
  -moz-border-radius: 8px
  -webkit-border-radius: 8px
  padding: 10px
  margin: auto
  #player_header
    margin: 20px 0
    img
      float: left
      padding: 5px
      border: 3px solid #cecece
    .player_name
      margin-left: 20px
      padding: 20px
      font:
        size: 50px
        weight: bold
      float: left

  #player_info
    .player_field
      font-size: 20px
      margin: 10px 0
      padding: 5px
      line-height: 25px
  #hockey_info
    #title
      font:
        size: 25px
        weight: bold
      padding: 10px
      background: #cecece
      border: solid 1px #cecece
      border-radius: 8px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px

  #controls
    float: right
.icon
  background-position: 0% 50%
  background-repeat: no-repeat
  padding-left: 20px
  padding-top: 2px
  padding-bottom: 3px
.icon-edit
  background-image: url(/images/edit.png)
.icon-delete
  background-image: url(/images/delete.png)
.icon-move
  background-image: url(/images/move.png)
/* tipsy stles */
.tipsy
  padding: 5px
  font-size: 13px
  opacity: 0.6
  filter: alpha(opacity = 60)
  background-repeat: no-repeat
  background-image: url(/images/tipsy.gif)

.tipsy-inner
  padding: 7px
  background-color: black
  color: white
  font-weight: bold
  max-width: 200px
  text-align: left
  -moz-border-radius: 5px
  -webkit-border-radius: 5px

.tipsy-north
  background-position: top center

.tipsy-south
  background-position: bottom center

.tipsy-east
  background-position: right center

.tipsy-west
  background-position: left center

#team_information
#team_players
  border: solid 2px #cecece
  border-radius: 8px
  -moz-border-radius: 8px
  -webkit-border-radius: 8px
  padding: 10px
  margin-top: 10px
  #add_player
    float: right
    .form
      position: absolute
      right: 250px
    .team_players_button
      position: relative
      top: 30px
      right: 60px
      width: 200px
      font-size: 25px
      text-align: center
      color: #fff
      background-color: #26456D
      text-decoration: none
      padding: 10px
      border-radius: 8px
      -moz-border-radius: 8px
      -webkit-border-radius: 8px
  #players_list
    width: 68%
    padding: 0 15px
    min-height: 250px
#players_team_list
  border: 1px #cecece solid
  width: 100%
  border-collapse: collapse
  margin: 10px 0 15px 0
  line-height: 2em
  text-align: center
  th
    color: #fff
    background-color: #26456D
    padding: 6px
    .last
      margin-right: 35px
  td
    padding: 6px 30px
    border-bottom: 1px solid #cccccc
    font-size: 18px
    img
      vertical-align: middle
  tr
    &:hover
      background: #cecece
  .last
    text-align: right
    padding-right: 15px
  .nombres
    text-align: left



      