.inputTipContainer
  background: #EFF285
  border: solid 1px #cecece
  border-radius: 4px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  color: #222
  display: none
  position: absolute
  padding: 8px
  /* Internet Explorer 7 fix
  #padding-bottom: 7px
  padding-left: 20px

.badInputTipContainer
  color: #600
  font-weight: bold
  background: #ffeeee url('/images/error.png') no-repeat 5px

.goodInputTipContainer
  color: #060
  font-weight: bold
  background: #eeffee  url('/images/check.png') no-repeat 5px
