.inputTipContainer {
  background: #eff285;
  color: #222222;
  display: none;
  position: absolute;
  padding: 8px;
  /* Internet Explorer 7 fix */
  #padding-bottom: 7px;
  padding-left: 20px; }

.badInputTipContainer {
  color: #660000;
  font-weight: bold;
  background: url("/images/error.png") no-repeat 5px; }

.goodInputTipContainer {
  color: #006600;
  font-weight: bold;
  background: url("/images/check.png") no-repeat 5px; }
