%p
  = link_to "Add Players", team_player_new_path(@team),:class => "team_players_button", :remote => true
%br
%p
  = link_to "Add Coach", team_player_new_path(@team),:class => "team_players_button", :remote => true